{% extends 'layout.html' %}

{% block content %}

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}


<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="h1"><b style="color: blue;">Nombres</b> - JPC</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Connexion de l'utilisateur</p>

      <form action="{% url 'connexion' %}" method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Entrez votre nom d'utilisateur" id="username" name="username" required class="py-[15px] outline-none"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Entrez votre mot de passe" name="password" id="password" class="py-[15px] outline-none"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
              <br>
          </div>
          <!-- /.col -->
        </div>
      </form>


      <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
                <a href="#" class="text-center" style="color: blue;">Je ne suis pas encore inscrit</a>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
              <a href="#" class="btn btn-block btn-dark">
                  M'inscrire
              </a>
          </div>
          <!-- /.col -->
      </div>

      <p class="mb-0">
          <a href="{% url 'password_reset' %}" style="color: #FF0000;">J'ai oublié mon mot de passe</a>
      </p>
        
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
{% endblock%}
